.bg-containe {
  background-color: white;
  height: 100vh;
  width: 12%;
  color: black;
}
.dash-container {
  display: flex;
  flex-direction: row;
  color: white;
  margin-left: 10px;
}
.dash-head {
  margin-left: 10px;
}
.arrow {
  display: flex;
  align-items: flex-end;
}
.right {
  text-align: left;
  margin-left: 190px;
  margin-top: -30px;
}

@media (max-width: 768px) {
  .bg-containe {
    width: 20%;
  }

  .dash-container {
    margin-left: 1px;
  }

  .dash-head {
    font-size: 7px;
    margin-left: 2px;
  }
}

#sidebar {
  grid-area: sidebar;
  height: 100%;

  background-color: white;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 0px 30px;
  margin-bottom: 30px;
  color: black;
  margin-top: -30px;
}

.sidebar-title > span {
  display: none;
}

.sidebar-brand {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
  color: black;
}

.sidebar-list {
  padding: 0;
  list-style-type: none;
  margin-top: 0px;
}

.sidebar-list-item {
  padding: 20px 20px 20px 20px;
  font-size: 15px;
  margin-bottom: 0px;
}

.sidebar-list-item:hover {
  background-color: white;
  cursor: pointer;
}

.sidebar-list-item > a {
  text-decoration: none;

  color: black;
}
.sidebarBottom {
  bottom: 0;

  height: 300px;
}
.profileImg {
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 5px;
}

.profileName {
  text-align: justify;
  font-size: 16px;
  font-weight: 500;
  color: black;
}
.profiledetails {
  display: flex;
  flex-direction: column;
}
.profilePosition {
  display: flex;
  flex-direction: row;
  text-align: justify;
  font-size: 10px;
  color: rgb(56, 56, 56);
  margin-top: 3px;
}
.arrow2 {
  display: flex;
  align-items: center;
  margin-top: -30px;
  margin-left: 190px;
}

.listIcon {
  margin-right: 5px;
}
.itemName {
  display: flex;
  align-items: center;
}
.dropdown {
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar-responsive {
  display: inline !important;
  position: absolute;

  z-index: 12 !important;
}
.dropButton {
  width: 100%;
  display: flex !important;
  background-color: white;
  color: whitesmoke !important;
  border: none !important;
  justify-content: space-between;
  align-items: center;
}

.dropButton.active,
.dropButton:focus {
  background-color: white;
  color: white !important;
}

.dropdown-menu {
  display: none;
}

.dropdown-menu.show {
  display: block;
}
.icon {
  margin-top: -30px;
}
.search-icon {
  margin-left: -190px;
  margin-top: 0px;
  margin-bottom: -3px;
  margin-right: 10px;
  padding-top: 0px;
  padding-left: 5px;
}
.search-inputt {
  border-radius: 20px;
  height: 39px;
  margin-top: -10px;
  border: 0px solid white;
  background-color: rgb(240, 249, 252);
  padding-left: 30px;
  margin-bottom: -30px;
}
.blue-logo-image {
  width: 170px;
  margin-top: -30px;
  background-color: transparent;
  margin-bottom: -30px;
  margin-left: -25px;
}
.blue-icon {
  color: blue;
  margin-top: 2px;
  margin-bottom: -1px;
}
.blue-background-container {
  background-color: rgb(217, 217, 248);
  display: inline-block;
  padding: 10px;
  border-radius: 20px;
  padding: 10px;
  margin-left: 10px;
  margin-top: -20px;
  width: 170px;
  margin-bottom: -40px;
}
